{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}About{% endblock %}
{% block content %}
<div class="comer">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-5 offset-md-6">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h3 class="four">About</h3>
                        <hr>
                        <p class="two h5">Welcome to <b>My Blog</b>- your digital corner for curiosity, creativity, and conversation.
                            Whether you're here to explore new ideas, learn something new, or simply enjoy a thoughtful read, 
                            this blog was built with you in mind. We believe in the power of storytelling, the importance of 
                            honest perspectives, and the value of sharing knowledge. <hr>
                        </p>
                        <p class="one h6">
                            Hi! I'm <b>Sanchit Agrawal</b>, the voice and creator behind this space. <br>
                            I'm passionate about writing, travel, technology, and I started this blog as a way to share insights, 
                            expiriences, and resources that inspire me and hopefully you too.
                        </p>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}