{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-6">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3>Password Reset Page</h3>
                    <hr>
                    <div class="alert alert-info">
                        Enter email here! and a mail will be sent with instruction to reset the password.
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-block" value="Reset Password">
                    </form>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}