{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up Page{% endblock %}
{% block content %}
<div class="comer">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-5 offset-md-6">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h3 class="four">Sign Up Page</h3>
                        <hr>
                        <form method = "POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}